<h2>Get API</h2>

<button class="btn btn-success" (click)="getUsers()">Get Userlist</button>

<div class="row" *ngIf="userList && userList?.length">
    <div class="col">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> Sr No.</th>
                    <th> Name</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userList; let i=index">
                    <!-- @for(user of userList; track $index){ -->
                    <td>{{i+1}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                </tr>
                <!-- } -->

            </tbody>
        </table>
    </div>
</div>